@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&family=Roboto:wght@300;700&display=swap');

:root {
  --primary-color: #0000e9;
  --secondary-color: #fafafa;
  --alert-color: #cc1500;
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next {
  height: 100%;
  overflow: auto;
  position: relative;
}

/* Global form CSS */

.form {
  margin-top: 115px;
}

.form__logo {
  display: flex;
  font-family: 'Praise', cursive;
  font-size: 2rem;
  justify-content: space-between;
}

.form__logo h1 {
  margin-left: 5px;
}

.form__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  height: 270px;
}

.form__input {
  margin-top: 10px;
  padding: 0.5rem;
  border: 1px solid #262626;
  background-color: #fafafa;
  font-size: 1.6rem;
  border-radius: 5px;
  min-width: 230px;
}

.form__input:focus {
  outline: none;
}

.form__btn {
  margin-top: 10px;
  color: var(--primary-color);
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  background: none;
  align-self: center;
  border: 2px solid var(--primary-color);
  font-size: 1.5rem;
  width: 10rem;
  border-radius: 5px;
}

.form__show_password_btn {
  color: var(--primary-color);
  cursor: pointer;
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}

.form__account {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.2rem;
}

.form__account p {
  margin-right: 3px;
}

.form__account a {
  color: var(--primary-color);
  font-weight: bold;
}

.form_error_message {
  display: flex;
  color: var(--alert-color);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: pre-wrap;
  text-align: center;
}

/* Global Aesthetic CSS */
.waves {
  background: var(--primary-color);
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 69%,
    1% 68.98%,
    2% 68.91%,
    3% 68.81%,
    4% 68.66%,
    5% 68.46%,
    6% 68.23%,
    7% 67.95%,
    8% 67.64%,
    9% 67.28%,
    10% 66.89%,
    11% 66.45%,
    12% 65.98%,
    13% 65.47%,
    14% 64.93%,
    15% 64.36%,
    16% 63.75%,
    17% 63.11%,
    18% 62.44%,
    19% 61.74%,
    20% 61.02%,
    21% 60.27%,
    22% 59.49%,
    23% 58.7%,
    24% 57.88%,
    25% 57.05%,
    26% 56.21%,
    27% 55.34%,
    28% 54.47%,
    29% 53.59%,
    30% 52.69%,
    31% 51.79%,
    32% 50.89%,
    33% 49.99%,
    34% 49.08%,
    35% 48.18%,
    36% 47.28%,
    37% 46.39%,
    38% 45.51%,
    39% 44.63%,
    40% 43.77%,
    41% 42.92%,
    42% 42.09%,
    43% 41.28%,
    44% 40.49%,
    45% 39.71%,
    46% 38.97%,
    47% 38.24%,
    48% 37.54%,
    49% 36.88%,
    50% 36.24%,
    51% 35.63%,
    52% 35.05%,
    53% 34.51%,
    54% 34.01%,
    55% 33.54%,
    56% 33.1%,
    57% 32.71%,
    58% 32.35%,
    59% 32.04%,
    60% 31.76%,
    61% 31.53%,
    62% 31.34%,
    63% 31.19%,
    64% 31.08%,
    65% 31.02%,
    66% 31%,
    67% 31.02%,
    68% 31.09%,
    69% 31.2%,
    70% 31.35%,
    71% 31.54%,
    72% 31.78%,
    73% 32.05%,
    74% 32.37%,
    75% 32.73%,
    76% 33.12%,
    77% 33.56%,
    78% 34.03%,
    79% 34.54%,
    80% 35.08%,
    81% 35.66%,
    82% 36.27%,
    83% 36.91%,
    84% 37.58%,
    85% 38.28%,
    86% 39%,
    87% 39.75%,
    88% 40.53%,
    89% 41.32%,
    90% 42.14%,
    91% 42.97%,
    92% 43.82%,
    93% 44.68%,
    94% 45.55%,
    95% 46.44%,
    96% 47.33%,
    97% 48.23%,
    98% 49.13%,
    99% 50.04%,
    100% 50.94%
  );
}

/* Landscape orientation media queries */
@media only screen and (max-height: 428px) {
  body,
  #__next {
    height: 130vh;
  }

  .form {
    margin-top: 15px;
  }

  .waves {
    height: 200px;
  }
}

@media only screen and (max-height: 280px) {
  body,
  #__next {
    height: 170vh;
  }
  .form {
    margin-top: 20px;
  }

  .waves {
    height: 200px;
  }
}
