.nav {
  padding: 1rem;
  background: var(--secondary-color);
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.nav__logo {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.nav__links {
  display: flex;
  list-style: none;
}

.nav__link {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.nav__link:nth-of-type(1) {
  margin-right: 10px;
}
